.formulario{
    background: red;
    padding: 30px
}

.formulario_input{
    padding: 6px 10px;
    width: 100%;
    background: black;
    color:red;
}

.formulario_sumbit{
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px;
    background-color: red;
    color: white;
    width: 50%;
}